<h2 class="ui center aligned icon header" style="color:white">
  <i class="green comment outline icon"></i>
  Spiky Chat!
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox" id="page-content">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui inverted header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Elliot Fu</em>: ate bad egg salad
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <strong>Stevie Feliciano</strong>: died
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <b>Helen Troy</b>: hi
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Christian Rocha</em>: Test message
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <div class="ui inverted transparent icon input">
                <input type="text" placeholder="Enter a message...">
              </div>
              <i class="bordered inverted green edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui card" id="page-content">
      <div class="content">
    <div class="ui fluid inverted vertical menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div>
</div>
</div>
</div>
