@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

#page-content {
  flex: 1 0 auto;
  background-color: #302F2F;
}

#darktext {
  color: white;
}

.darktext1 {
  color: white;
}

.chatbox {
  height: 450px;
}

.whitext {
  color: white;
  display: inline-block;
}

.usertext {
  color: green;
  display: inline-block;
}

.heading {
  text-align: center;
  color: white;
}

#messages {
  overflow: auto;
  height: 15em;
}
