@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

#page-content {
  flex: 1 0 auto;
  background-color: #302F2F;
}

.chatbox {
  height: 450px;
}

.whitext {
  color: white;
}

.header {
  text-align: center;
  color: white;
}
